<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>270711254609-749o8a3d77shl5ic0o42kqklaemkt4vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270711254609-749o8a3d77shl5ic0o42kqklaemkt4vc</string>
	<key>API_KEY</key>
	<string>AIzaSyAUAbwkHC9GIzpgzHxlGY9d1lK7YdyOBlc</string>
	<key>GCM_SENDER_ID</key>
	<string>270711254609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gird.ToDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todolist-bba70</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-bba70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:270711254609:ios:c5c88cd0b2f6dd2e</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-bba70.firebaseio.com</string>
</dict>
</plist>